table {
  padding: 1px;
  text-align: center;
  border-collapse: collapse;
}

tr.light {
  background-color: hsl(200, 100%, 85%);
}

tr.dark {
  background-color: hsl(200, 100%, 70%);
}

.thead {
  font-weight: bold;
}

h2 {
  padding-left: 10px;
  margin-bottom: 5px;
}